<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <form action="/search/" method="post">
        <input name="title" type="text" placeholder="Search..">
    </form>
</div>