{{#if Smsg}}
    <div class="alert alert-success">{{Smsg}}</div>
{{/if}}
{{#if Fmsg}}
<div class="alert alert-danger">{{Fmsg}}</div>
{{/if}}
{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{/if}}