<form action="/addnewpost" method="post">
    <label for="title">Ttile</label>
    <input type="text" name="title" id="title">
    <br>
    <label for="matn">matn</label>
    <input type="text" name="matn" id="matn">
    <br>
    <label for="image">image</label>
    <input type="text" name="image" id="image">
    <button type="submit">submitt</button>
</form>