<link href="/css/signin.css" rel="stylesheet">

<div class="container">

    <form class="form-signin" action="/login" method="POST">
        <h2 class="form-signin-heading">Please sign Up</h2>
        <label for="inputEmail" class="sr-only" name="email">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>
<!-- /container -->