<link href="/css/signin.css" rel="stylesheet">

<div class="container">
 
  <form class="form-signin" action="/signup" method="POST">

    <h2 class="form-signin-heading">Please sign Up</h2>

    <label for="inputEmail" class="sr-only" name="email">Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" requiredautofocus>

    <label for="username" class="sr-only" name="username">Username</label>
    <input type="username" id="username" class="form-control" placeholder="Username" name="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">SignUp</button>
  </form>

</div> <!-- /container -->